<a href="https://colab.research.google.com/github/PydipatiSneha/Logistic-Regression/blob/main/Logistic_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn import linear_model

In [2]:
data=pd.read_csv("/content/marks.csv")
data

   id  total  P / F
0   1     91      1
1   2     85      1
2   3     30      0
3   4     12      0
4   5     68      1
5   6     72      1
6   7     40      1
7   8     35      0
8   9     99      1
9  10     89      1

In [3]:
x=pd.DataFrame(data['total'])
y=pd.DataFrame(data['P / F'])

In [4]:
reg=linear_model.LogisticRegression(random_state=0)
reg.fit(x,y)

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=0, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [5]:
Xtest=pd.DataFrame([65,22,36,92])

In [6]:
ypred=reg.predict(Xtest)
ypred

array([1, 0, 0, 1])

In [7]:
ytest=pd.DataFrame([1,0,1,1])

In [8]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(ytest, ypred)

In [9]:
print(cm)

[[1 0]
 [1 2]]

In [10]:
Accuracy = ( cm[0][0] + cm[1][1] ) / (ytest.shape[0])
Accuracy

0.75